---
layout: default
title: Order
breadcrumbs: true
changefreq: weekly
---

<div class="section-main page-bg">
   <div class="page-container">
      <div class="page-main">
            
         <header class="page-header">
            <h1 class="bluff">Buy all in one go!!</h1>
            <p class="sub-bluff">You can save up to 50% if you buy in bundle.</p>
         </header>

         <table cellspacing="0" class="book-package-list">
            <tr>
               <th class="header-book-name">Book Name</th>
               <th class="header-book-author">by: </th>
               <th></th>
               <th class="header-price">Price</th>
               <th class="header-save">Save</th>
               <th></th>
               <th class="header-add-to-cart">Add<br>to<br>Cart</th>
            </tr>
            {% for package in site.pages %}
            {% if package.bookname %}
            <tr>
               <td class="item-book-name">{{package.bookname}}</td>
               <td class="item-book-author">{{package.bookauthor}}</td>
               <td class="item-see-all"><a href="{{site.baseurl}}/order/book/{{package.folder}}/">see all books of {{package.bookauthor}}</a></td>
               <td class="item-price">{{package.price}}</td>
               <td class="item-save">{{package.save}}</td>
               <td class="item-buy"><a href="#">Buy Package</a></td>
               <td class="item-add-to-cart">
                  <form method="get">
                     <input type="checkbox" value="{{package.bookname}}">
                  </form>
               </td>
            </tr>
            {% endif %}
            {% endfor %}
         </table>
         
         <footer class="page-footer">
            <p class="tips">Tips: buying in package can save you up to 50% of discount</p>
         </footer>
      </div>   
   </div>
</div>