<footer class="site-footer">
   <div class="footer">
      <div class="container flex-footer">
         <div class="f-updates f-item">
            <h2>Latest Updates</h2>
            <ul class="footer-updates">
               <li><a href="#">The Red Carpet Magic</a></li>
               <li><a href="#">The Lion in the town</a></li>
               <li><a href="#">The Great King Gideon</a></li>
            </ul>
         </div>
         <div class="f-links f-item">
            <h2>Links</h2>   
            <ul class="footer-links">
               <li class="footer-home"><a href="{{site.baseurl}}/">Home</a></li>
               <li><a href="{{site.baseurl}}/order/">Order Now</a></li>
               <li><a href="{{site.baseurl}}/support/">Support</a></li>            
               <li><a href="{{site.baseurl}}/contact/">Contact</a></li>
               <li class="footer-gallery"><a href="{{site.baseurl}}/gallery/">Gallery</a></li>
               <li><a href="{{site.baseurl}}/privacy-policy/">Privacy Policy</a></li>
            </ul>
         </div>
         <div class="f-contact f-item">
            <h2>Contact Us</h2>
            <address class="footer-address">
               Dampas District <br>
               Tagbilaran City, 6300 <br>
               Bohol, Philippines <br>
               Hours: 8am - 8pm (Daily) <br>
               Phone: {{site.data.settings.phoneno}} <br>
               Email: <a href="mailto:{{site.data.settings.email}}">{{site.data.settings.email}}</a>
            </address>
         </div>      
      </div>
   </div>
   <div class="copyright">
      <div class="container">
         <p class="copyright-text">@ Copyright of {{site.data.settings.title}} by {{site.data.settings.artist}}</p>
      </div>
   </div>   
</footer>
</body>
</html>