html
   -webkit-tap-heighlight-color: transparent
   font: normal 100%/1.4 $site-font
   
   @media screen and (max-width: 500px)
      font-size: 14px
   
*, *:before, *:after 
   box-sizing: border-box

body
   margin: 0
   padding-top: 4.73rem
   line-height: 1.6rem
   color: $site-color
   font-size: 1rem
   background-color: $body-color
   
   @media (max-width: 768px)
      padding-top: 0rem
      
.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6
   font-weight: bold
   margin: 0 0 .8rem

.gigantic
   font-size: 110px
   line-height: 1.09
   letter-spacing: -2px

.huge, h1
   font-size: 68px
   font-size: 4.2rem
   line-height: 1.05
   letter-spacing: -1px

.large, h2
   font-size: 42px
   font-size: 2.63rem
   line-height: 1.14

.bigger, h3
   font-size: 25px
   font-size: 1.57rem
   line-height: 1.38

.big, h4
   font-size: 20px
   font-size: 1.3rem

.small, small
   font-size: 14px
   font-size: .9rem
   line-height: 1.2
   
.smaller
   font-size: 12px
   font-size: .8rem
   line-height: 1.2
   
.smallest
   font-size: 11px
   font-size: .7rem
   line-height: 1
   
p
   font-size: 16px
   font-size: 1rem
   line-height: 1.4
   margin: 0 0 1rem 0

em
   font-style: italic

strong
   font-weight: bold

dt, dd
   line-height: 1.4
   
dd
   margin-bottom: 10px
   
th
   line-height: 1.3
   
td
   line-height: 1.2
   
         
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary 
   +display(block)
      
ol, ul, dl
   margin-top: 0
   margin-bottom: 1.5rem
   
address
   margin-bottom: .5rem
   font-style: normal
   line-height: inherit
   
img
   vertical-align: middle
   border: 0
      
.site
   +display(flex)
   +flex-direction(column)
      
.page-bg
   background-color: $page-color
   
.container
   padding: 15px 0
   margin: 0 auto
   +position(relative)
      
   @media (min-width: 768px)
      width: 738px
      
   @media (max-width: 768px)
      padding: 15px 14px
   
   @media (min-width: 992px)
      width: 963px
      
   @media (min-width: 1200px)
      width: 1170px
      
      
      
      
      
.embed-container
   +display(block)
   +position(relative)
   height: 0
   overflow: hidden
   
   img
      +position(absolute, 0 null null 0)
      width: 100%
   
.ratio-6-4
   padding-bottom: $ratio-6-4
   
.ratio-11-8
   padding-bottom: $ratio-11-8
   
.ratio-4-18
   padding-bottom: $ratio-4-18

      
      

   
.page-container
   +position(relative)
   background-color: $body-color
   margin: 0 auto
   padding: 65px 40px
   
   &:before
      content: ""
      +position(absolute, 0 null 0 -50px)
      +size(50px 100%)
      +transform(rotate(180deg))
      background:
         color: transparent
         image: url('../img/main-shadow.png')
         repeat: repeat-y
         
   &:after
      content: ""
      +position(absolute, 0 -50px 0 null)
      +size(50px 100%)
      background:
         color: transparent
         image: url('../img/main-shadow.png')
         repeat: repeat-y        
      
   @media (min-width: 768px)
      width: 638px
      
   @media (max-width: 768px)
      padding: 30px
      
      &:before, &:after
         +display(none)
   
   @media (min-width: 992px)
      width: 863px
      
   @media (min-width: 1200px)
      width: 1070px
      
      
      
.support-flexrow
   +display(flex)
   +flex-wrap(nowrap)
      
.main-flexitem
   +flex(1 1 100%)      
   
.max800
   max-width: 800px
   margin: 0 auto
   
.text-center
   text-align: center
      
.pad-vert
   padding-top: 2rem
   padding-bottom: 2rem
   
.pad-top
   padding-top: 2rem
   
.pad-bottom
   padding-bottom: 20px
   
   
   
   
.unpad-vert
   padding-top: 0
   padding-bottom: 0
   
.unpad-top
   padding-top: 0px
   
.unpad-bottom
   padding-bottom: 0px
   
   
   
.red
   color: #fe1111
   
.blue
   color: lighten(#0036ff, 10)

   