.page-main

   h2
      margin-bottom: 8px

   p
      margin: 0
      
   .page-header
      width: 100%

      .page-title
         margin-bottom: 20px

      .page-blurb
         margin-bottom: 2rem
         
   .page-footer
      text-align: center
      
      @media (min-width: 500px)
         text-align: left     
         
         
.page-sidebar
   +flex(1 0 270px)
   
   @media (max-width: 992px)
      +display(none)

   .sidebar ul
      padding-bottom: 50px

      &:last-of-type
         padding-bottom: 5px

      li
         padding: 0 3px

         &:hover
            border-color: rgba($border-color, .9)

         a
            +display(inline)

            &:hover
               text-decoration: underline
               
