.post-header
   +display(flex)
   +justify-content(space-between)
   width: 100%
   margin-bottom: 10px

   .post-text h2
      font-size: 2rem
      +display(inline-block)

   .post-seelist a
      padding: 4px 10px
      background-color: $body-alt
      margin-right: 5px
      border-radius: 3px
      text-align: center
      +display(block)

      &:hover
         color: $header-color
         
   @media (max-width: 650px)
      +display(block)
      margin-bottom: 10px
      
      .post-text
         margin: 0 auto
         text-align: center
         
         h2
            font-size: 1.5rem
            margin-bottom: 5px
      
      .post-seelist a
         margin: 0 auto
         padding: 6px 10px
         max-width: 260px

.post-mainX
   z-index: 1
   max-width: 775px
   +flex(1 1 100%)
   +display(flex)
   +justify-content(center)
   +flex-wrap(wrap)

   .post-item
      margin: 0 5px 35px

   .post-img
      +flex(0 0 260px)

      img
         padding: 0
         box-shadow: 0px 1px 3px 0 rgba(#000, .5)

   .post-desc
      +flex(0 0 220px)
      
      .desc
         width: 220px
         margin: 0 auto
         padding: 0 8px
         
      @media (max-width: 992px)
         min-width: 100%

   .post-purchase
      +flex(0 1 265px)
      
      .purchase
         +position(relative)
         padding: 15px
         border: 1px solid rgba(darken($border-color, 28), 1)
         background-color: $body-alt-bottom
         box-shadow: inset 0 0 40px rgba(darken($body-alt-bottom, 45), .5)
         border-radius: 4px 
         
         &:before
            content: ""
            z-index: -1
            +position(absolute, 0 0 0 0)
            box-shadow: 0px 0px 12px 0px rgba($body-alt, .5)

         .purchase-top  
            margin-bottom: 13px
            +display(flex)
            +justify-content(space-between)

            .price
               margin-top: -23px

               h4
                  background-color: white
                  border: 1px solid rgba(darken($border-color, 28), 1)
                  padding: 10px 10px
                  border-radius: 3px
                  box-shadow: 0 0 3px 0 rgba(darken($border-color, 15), .8)

      p
         margin-bottom: 18px

      .addtocart
         width: 84%
         +display(flex)
         +align-items(center)
         +justify-content(center)
         +position(relative)
         padding: 5px 2px
         margin: 2.3rem auto 1.3rem
         border: 1px solid rgba($body-alt, .7)
         border-radius: 4px
         box-shadow: 0 0 1px 1px rgba(black, .2)
         
         &:before
            content: ""
            +position(absolute, 0 0 0 0)
            box-shadow: inset 0 0 20px rgba($body-alt, .5)
         
         p
            color: $body-alt
            font-size: 1.30rem
            margin: 0 4px 0 0
                     
         svg
            +size(40px)

            path, circle
               fill: $body-alt      
               
         &:hover
            background-color: darken($btn-purchase, 10)
            
            &:before
               box-shadow: inset 0 0 20px rgba($body-alt, .4)

   .post-summary
      +flex(0 1 100%)
      padding: 0

      .summary
         max-width: 700px
         
      span
         background-color: rgba(white, .7)
         line-height: 0

.post-sidebar
   z-index: 1
   +flex-grow(1)
   margin: 0 5px 0 20px 
   
   @media (max-width: 1200px)
      +display(none)

   .sidebar 
      max-height: 800px
      padding: 0 0 5px 5px
      border-left: 1px solid $border-color

      > *
         margin: 0         
         padding: 5px 0 3px 10px

      .sidebar-title
         
         +display(block)
         background-color: $body-alt-bottom
         text-transform: uppercase
         
         border:
            width: 0 0 1px 1px
            style: solid
            color: $border-color

      ul
         list-style-type: none
         border:
            width: 0 0 0 1px
            style: solid
            color: $border-color

         li
            margin-top: 3px
            +position(relative)

            &:before
               content: ""
               +position(absolute, 50% null null -10px)
               +size(5px 1px)
               background-color: $border-color

            a
               padding: 2px 5px
               border-radius: 2px
               background-color: rgba($body-color, .7)
               color: $site-color

               &:hover
                  background-color: $body-alt-bottom

.post-bg
   z-index: 0
   +position(absolute, null 0 0 null)

   &:after
      content: ""
      +position(absolute, 0 0 0 0)
      box-shadow: inset 0 0 30px 15px white
      background:
         image: radial-gradient(circle at 75% 70%, transparent, rgba(white, .7) 35%, white 70%)

   img
      +size(100% auto)