$site-font: 'Merge One', tahoma, sans serif
$site-linkColor: #fff
$site-color: #363637

$header-color: #8fd51d
$body-color: #fff
$body-main: #fff
$body-alt: #14557a
$body-alt-bottom: #8ff5c6
$footer-color: #080809
$border-color: #87dbc3

$page-color: #8ff5c6

$slide-fontfam: 'Fresca', merge one, sans serif



$ratio-6-4: 152.5%  /* post container img */

$ratio-11-8: 137.5% /* gallery container img */

$ratio-4-18: 22.2% /* logo container img */